<!-- templates/about.html -->
{% extends "layout.html" %}
{% block title %}О техникуме{% endblock %}
{% block content %}
<h1>О техникуме</h1>
<h2>Специальности</h2>
<div class="about-content">
    <div class="about">
        <img src="{{ url_for('static', filename='images/job-1.jpg') }}" alt="about" class="img-fluid">
        <h2>Химик</h2>
        <p>Что-то связанное с химией</p>
    </div>
    <div class="about">
        <img src="{{ url_for('static', filename='images/job-2.jpg') }}" alt="about" class="img-fluid">
        <h2>Электрик</h2>
        <p>Что-то связанное с электрикой</p>
    </div>
    <div class="about">
        <img src="{{ url_for('static', filename='images/job-3.jpg') }}" alt="about" class="img-fluid">
        <h2>Информатик</h2>
        <p>Что-то связанное с компьютерами</p>
    </div>
    <div class="about">
        <img src="{{ url_for('static', filename='images/job-4.jpg') }}" alt="about" class="img-fluid">
        <h2>Книжник</h2>
        <p>Что-то связанное с бумагой</p>
    </div>
    <div class="about">
        <img src="{{ url_for('static', filename='images/job-5.jpg') }}" alt="about" class="img-fluid">
        <h2>Механик</h2>
        <p>Что-то связанное с механизмами</p>
    </div>
</div>
{% endblock %}